# Visual Studio Code cache/options directory
.vscode/

# アプリ版メインjs
app/index.js

# Build results
build/*.yaml
build/*.yml
build/mac
build/gallery*
build/cordova

Cubism*/

# gallery、famibeeの作業中なので公開してないが、いずれは無くして公開していきたい
prj/3d_f*
prj/3d_m*
prj/glsl_/

# Node.js Tools
node_modules/

# ブラウザ版メインjs
web/

# SKYNovel Dev famibee's Work Folder
Work/
