# Visual Studio Code cache/options directory
.vscode/

# gallery、famibeeの作業中なので公開してないが、いずれは無くして公開していきたい
docs/precache*
docs/prj/3d_f*
docs/prj/3d_m*
docs/prj/glsl_/

# Node.js Tools
node_modules/

# SKYNovel Dev famibee's Work Folder
Work/
