# Visual Studio Code cache/options directory
/.vscode/

# Node.js Tools
/node_modules/

# playwright-cli スキルの作業用スクショ・スナップショット
/.playwright-cli/

*.LICENSE.txt
*.tsbuildinfo

# SKYNovel Dev famibee's Work Folder
/Work/
